body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url()
}

.container{
  opacity: 0.7;
  background-color: black;
  width: 100%;

}

.link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  padding-top: 10px;
  padding-right: 30px;

}

.title {
  font-family: 'Barrio', cursive;
  font-size: 50px;
  margin-top: 30px !important;
}
