body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://i.imgur.com/PRYAzUY.jpg?1');
  background-size: cover;
  background-attachment: fixed;
  background-origin: padding-box;


}

.container{
  width: 100%;


}



div {
  background-color: unset !important;
}

.homechunk{
 margin-top: 50px;
 margin-left: 40px!important;
 margin-right: 40px !important;
}
